<div data-role="page" id="home">
  <div data-role="header" data-position="fixed">
    <h4>Home</h4>
  </div>
  <div class="ui-content" role="main">
    <ul data-role="listview" data-filter="true" data-filter-placeholder="Buscar"
      id="home_encuesta_list">

    </ul>
  </div>
  <div data-role="footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li>
          <a href="#new">Nuevo</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- esto es otra pagina -->
<div data-role="page" id="new">
  <div data-role="header" data-position="fixed">
    <h4>Agregar</h4>
  </div>
  <div class="ui-content" role="main">
    <form id="new_form">
      <label for="txtEncuesta">Nombre de Encuesta</label>
      <input type="text" id="txtEncuesta" name="txtEncuesta"
          placeholder="Nombre de Encuesta"/>
      <label for="txtPregunta1">Pregunta</label>
      <input type="text" id="txtPregunta1" name="txtPregunta1"
          placeholder="Pregunta"/>
      <label for="txtPregunta2">Pregunta</label>
      <input type="text" id="txtPregunta2" name="txtPregunta2"
          placeholder="Pregunta"/>
      <label for="txtPregunta3">Pregunta</label>
      <input type="text" id="txtPregunta3" name="txtPregunta3"
          placeholder="Pregunta"/>
      <a id="btnAgregarEncuesta" class="ui-btn">Agregar</a>
      <a href="#home" class="ui-btn">Cancelar</a>
    </form>
  </div>
  <div data-role="footer" data-position="fixed">
    <h5>2017 CP</h5>
  </div>
</div>

<!-- apply  page -->
<div data-role="page" id="apply">
  <div data-role="header" data-position="fixed">
    <h4>Aplicar</h4>
  </div>
  <div class="ui-content" role="main">
    <form id="apply_form">
      <h2 id="apply_encuesta">Nombre de Encuesta</h2>
      <input type="hidden" value="" name="encuesta_id" id="encuesta_id"/>
      <h3><span id="apply_txtPregunta1">Pregunta 1</span></h3>
      <fieldset data-role="controlgroup" data-mini="true" data-type="horizontal">
          <input type="radio" value="1" name="ansValue1" id="prg1_1"/><label for="prg1_1">Muy Malo</label>
          <input type="radio" value="2" name="ansValue1" id="prg1_2"/> <label for="prg1_2">Malo</label>
          <input type="radio" value="3" name="ansValue1" id="prg1_3" checked="checked"/> <label for="prg1_3">Regular</label>
          <input type="radio" value="4" name="ansValue1" id="prg1_4"/> <label for="prg1_4">Bueno</label>
          <input type="radio" value="5" name="ansValue1" id="prg1_5"/> <label for="prg1_5">Muy Bueno</label>
      </fieldset>
      <h3><span id="apply_txtPregunta2">Pregunta 2</span></h3>
      <fieldset data-role="controlgroup" data-mini="true" data-type="horizontal">
          <input type="radio" value="1" name="ansValue2" id="prg2_1"/><label for="prg2_1">Muy Malo</label>
          <input type="radio" value="2" name="ansValue2" id="prg2_2"/> <label for="prg2_2">Malo</label>
          <input type="radio" value="3" name="ansValue2" id="prg2_3" checked="checked"/> <label for="prg2_3">Regular</label>
          <input type="radio" value="4" name="ansValue2" id="prg2_4"/> <label for="prg2_4">Bueno</label>
          <input type="radio" value="5" name="ansValue2" id="prg2_5"/> <label for="prg2_5">Muy Bueno</label>
      </fieldset>

      <h3><span id="apply_txtPregunta3">Pregunta 3</span></h3>
      <fieldset data-role="controlgroup" data-mini="true" data-type="horizontal">
          <input type="radio" value="1" name="ansValue3" id="prg3_1"/><label for="prg3_1">Muy Malo</label>
          <input type="radio" value="2" name="ansValue3" id="prg3_2"/> <label for="prg3_2">Malo</label>
          <input type="radio" value="3" name="ansValue3" id="prg3_3" checked="checked"/> <label for="prg3_3">Regular</label>
          <input type="radio" value="4" name="ansValue3" id="prg3_4"/> <label for="prg3_4">Bueno</label>
          <input type="radio" value="5" name="ansValue3" id="prg3_5"/> <label for="prg3_5">Muy Bueno</label>
      </fieldset>
      <br />
      <br />
      <a id="btnAplicarEncuesta" class="ui-btn">Enviar</a>
      <a href="#home" class="ui-btn">Cancelar</a>
    </form>
  </div>
  <div data-role="footer" data-position="fixed">
    <h5>2017 CP</h5>
  </div>
</div>
